


/* .Card2{
  background-color: palevioletred;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}


.Card3{
  background-color: rgb(59, 229, 17);
  width: 300px;
  height: 200px;
margin: 0 auto;

}


.Card4{
  background-color: rgb(110, 138, 239);
  width: 300px;
  height: 100px;
margin: 0 auto;

} */